<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="container justify-content-center">
                        <div class="row-cols-6 m-2 border border-end border-2 justify-content-center text-center">
                            <span class="m-2">У вас немає прав для доступу до цієї сторінки</span>
                            <a class="btn btn-primary" href="login">
                                <span class="bi bi-door-open justify-content-center align-content-center"
                                      style="font-size:1.5em" aria-hidden="true"></span> Увійти
                            </a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code
{ 
    [Inject]
    public NavigationManager manager{ get; set; }
}