<div class="card m-1" style="width: 14rem;font-size:1.1rem;font-family:'Comic Sans MS'">
    <a href="" class="text-center align-self-center m-2 " >
        <img src=@Product.ImageUrl class="card-img-top" style="height:6rem; width:fit-content" alt="...">
    </a>
    <div class="card-body text-center border-2 border-top border-primary-subtle p-1">
        <a href="" class="card-text navbar-text text-decoration-none text-black">@Product.Name</a>
        @if(Product.Price > 0)
        {
            <p class="fw-bold m-0" style="color:lightslategray;font-family:'Comic Sans MS'">
                @Product.FullPrice.ToString("F0")
                <span style="font-size:0.8em">грн</span>
                <span class="fw-bold" style="color:indigo; ">
                    @Product.Price.ToString("F0")
                    <span style="font-size:0.8em">грн</span>
                </span>
            </p>
            
        }
        else
        {
        <p class="fw-bold m-0" style="color:indigo; font-family:'Comic Sans MS'">
                @Product.FullPrice.ToString("F0")
            <span style="font-size:0.8em">грн</span>
        </p>    
        }
        <div class="justify-content-center align-content-center" style="height:3em">
            @if (Product.Quantity > 0)
            {
                <a href="" class="btn btn-primary">Купити</a>
            }
            else
            {
                <span>No available  </span>
            }
        </div>
    </div>
    <div class="card-footer p-1">
        <div class="row text-center" style="font-size:0.8em">
            <div class="col">
                <img src="age-group.png" style="height:1.2em;width:fit-content" />
                <p class="m-0">@Age</p>
            </div>
            <div class="col-6 border-2 border-start ">
                <span class="bi bi-clock"></span>
                <p class="m-0">@MinMaxTime</p>
            </div>
            <div class="col border-2 border-start ">
                <span class="bi bi-people"></span>
                <p class="m-0">@MinMaxPlayer</p>
            </div>
        </div>
    </div>
</div>
@code{
    [Parameter]
    public ProductDto Product {get; set;}
    [Parameter]
    public string MinMaxPlayer { get; set; } = " - ";
    [Parameter]
    public string MinMaxTime { get; set; } = " - ";
    [Parameter]
    public string Age {get; set; } = " - ";
}